In [3]:
import numpy as np
import pandas as pd
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
from sqlalchemy import create_engine
import psycopg2
import plotly.figure_factory as ff
import os
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')

In [5]:
dataset = pd.read_csv("owid-covid-data.csv")

In [14]:
dataset.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [13]:
# Get the list of column names
column_names = dataset.columns
print(column_names)

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [10]:
# 1. Data Summary
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355599 entries, 0 to 355598
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    355599 non-null  object
 1   continent                                   338653 non-null  object
 2   location                                    355599 non-null  object
 3   date                                        355599 non-null  object
 4   total_cases                                 317456 non-null  float64
 5   new_cases                                   345855 non-null  float64
 6   new_cases_smoothed                          344596 non-null  float64
 7   total_deaths                                295737 non-null  float64
 8   new_deaths                                  345907 non-null  float64
 9   new_deaths_smoothed                         344677 non-null  float64
 10  total_cases_per_million                     317456 non-null  float64
 11  new_cases_per_million                       345855 non-null  float64
 12  new_cases_smoothed_per_million              344596 non-null  float64
 13  total_deaths_per_million                    295737 non-null  float64
 14  new_deaths_per_million                      345907 non-null  float64
 15  new_deaths_smoothed_per_million             344677 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37781 non-null   float64
 18  icu_patients_per_million                    37781 non-null   float64
 19  hosp_patients                               39149 non-null   float64
 20  hosp_patients_per_million                   39149 non-null   float64
 21  weekly_icu_admissions                       10284 non-null   float64
 22  weekly_icu_admissions_per_million           10284 non-null   float64
 23  weekly_hosp_admissions                      23429 non-null   float64
 24  weekly_hosp_admissions_per_million          23429 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          79860 non-null   float64
 35  people_vaccinated                           76435 non-null   float64
 36  people_fully_vaccinated                     73119 non-null   float64
 37  total_boosters                              48079 non-null   float64
 38  new_vaccinations                            65845 non-null   float64
 39  new_vaccinations_smoothed                   182927 non-null  float64
 40  total_vaccinations_per_hundred              79860 non-null   float64
 41  people_vaccinated_per_hundred               76435 non-null   float64
 42  people_fully_vaccinated_per_hundred         73119 non-null   float64
 43  total_boosters_per_hundred                  48079 non-null   float64
 44  new_vaccinations_smoothed_per_million       182927 non-null  float64
 45  new_people_vaccinated_smoothed              182688 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  182688 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          301895 non-null  float64
 49  median_age                                  280732 non-null  float64
 50  aged_65_older                               270941 non-null  float64
 51  aged_70_older                               277918 non-null  float64
 52  gdp_per_capita                              275162 non-null  float64
 53  extreme_poverty                             177361 non-null  float64
 54  cardiovasc_death_rate                       275806 non-null  float64
 55  diabetes_prevalence                         289844 non-null  float64
 56  female_smokers                              206922 non-null  float64
 57  male_smokers                                204108 non-null  float64
 58  handwashing_facilities                      135093 non-null  float64
 59  hospital_beds_per_thousand                  243504 non-null  float64
 60  life_expectancy                             327163 non-null  float64
 61  human_development_index                     267325 non-null  float64
 62  population                                  355599 non-null  float64
 63  excess_mortality_cumulative_absolute        12211 non-null   float64
 64  excess_mortality_cumulative                 12211 non-null   float64
 65  excess_mortality                            12211 non-null   float64
 66  excess_mortality_cumulative_per_million     12211 non-null   float64
dtypes: float64(62), object(5)
memory usage: 181.8+ MB
None

1. Entries and Columns: The dataset has 355,599 rows and 67 columns.
2. Column Types: It includes both numerical (e.g., total cases, deaths, hospitalizations) and categorical data (e.g., iso_code, continent, location).
3. Non-Null Counts: Several columns have missing values, which will require attention during data cleaning.

In [11]:
##Data Summary
print(dataset.describe())

        total_cases     new_cases  new_cases_smoothed  total_deaths  \
count  3.174560e+05  3.458550e+05        3.445960e+05  2.957370e+05
mean   6.796974e+06  9.457200e+03        9.491605e+03  8.666838e+04
std    4.123893e+07  1.094194e+05        9.374232e+04  4.426444e+05
min    1.000000e+00  0.000000e+00        0.000000e+00  1.000000e+00
25%    8.285000e+03  0.000000e+00        2.860000e-01  1.280000e+02
50%    7.143600e+04  1.000000e+00        2.357100e+01  1.341000e+03
75%    7.667340e+05  2.510000e+02        4.821430e+02  1.198800e+04
max    7.718202e+08  8.401960e+06        6.402036e+06  6.978162e+06

         new_deaths  new_deaths_smoothed  total_cases_per_million  \
count  345907.00000        344677.000000            317456.000000
mean       84.23524            84.532007            103457.466834
std       608.98649           554.835927            152731.556394
min         0.00000             0.000000                 0.000000
25%         0.00000             0.000000              2646.234750
50%         0.00000             0.143000             29017.293000
75%         3.00000             4.857000            136995.770250
max     27939.00000         14821.857000            737554.506000

       new_cases_per_million  new_cases_smoothed_per_million  \
count          345855.000000                   344596.000000
mean              143.042496                      143.560684
std              1154.807442                      595.505275
min                 0.000000                        0.000000
25%                 0.000000                        0.030000
50%                 0.088000                        6.143000
75%                33.849000                       79.974000
max            228872.025000                    37241.781000

       total_deaths_per_million  ...   male_smokers  handwashing_facilities  \
count             295737.000000  ...  204108.000000           135093.000000
mean                 879.848094  ...      32.909071               50.790493
std                 1105.379761  ...      13.573480               31.955189
min                    0.000000  ...       7.700000                1.188000
25%                   61.388000  ...      22.600000               20.859000
50%                  384.979000  ...      33.100000               49.839000
75%                 1374.303000  ...      41.300000               82.502000
max                 6511.885000  ...      78.100000              100.000000

       hospital_beds_per_thousand  life_expectancy  human_development_index  \
count               243504.000000    327163.000000            267325.000000
mean                     3.097350        73.712474                 0.722459
std                      2.548336         7.394701                 0.148968
min                      0.100000        53.280000                 0.394000
25%                      1.300000        69.590000                 0.602000
50%                      2.500000        75.050000                 0.740000
75%                      4.200000        79.460000                 0.829000
max                     13.800000        86.750000                 0.957000

         population  excess_mortality_cumulative_absolute  \
count  3.555990e+05                          1.221100e+04
mean   1.286061e+08                          5.312168e+04
std    6.612315e+08                          1.494480e+05
min    4.700000e+01                         -3.772610e+04
25%    4.490020e+05                          1.216500e+02
50%    5.882259e+06                          5.968999e+03
75%    2.830170e+07                          3.770731e+04
max    7.975105e+09                          1.289776e+06

       excess_mortality_cumulative  excess_mortality  \
count                 12211.000000      12211.000000
mean                      9.760347         11.337701
std                      12.293895         25.166908
min                     -44.230000        -95.920000
25%                       1.430000         -1.590000
50%                       8.100000          5.720000
75%                      15.380000         16.300000
max                      76.620000        377.630000

       excess_mortality_cumulative_per_million
count                             12211.000000
mean                               1675.398350
std                                1941.471481
min                               -2752.924800
25%                                  73.764453
50%                                1115.956200
75%                                2746.703700
max                               10292.916000

[8 rows x 62 columns]

In [15]:
missing_values_count = dataset.isnull().sum()
print(missing_values_count)

iso_code                                        0
continent                                   16946
location                                        0
date                                            0
total_cases                                 38143
                                            ...
population                                      0
excess_mortality_cumulative_absolute       343388
excess_mortality_cumulative                343388
excess_mortality                           343388
excess_mortality_cumulative_per_million    343388
Length: 67, dtype: int64

In [16]:
missing_values_percentage = (dataset.isnull().sum() / len(dataset)) * 100
print(missing_values_percentage)

iso_code                                    0.000000
continent                                   4.765480
location                                    0.000000
date                                        0.000000
total_cases                                10.726408
                                             ...
population                                  0.000000
excess_mortality_cumulative_absolute       96.566076
excess_mortality_cumulative                96.566076
excess_mortality                           96.566076
excess_mortality_cumulative_per_million    96.566076
Length: 67, dtype: float64